@charset "utf-8";
@import url("Estyle_one_2.0.css");
.estyle_one {
}header {
	width: auto;
	height: 70px;
	background-color:#006774;
	text-align: center;	
	font-size: 36px;
	color:aliceblue
}

nav {
	width: auto;
	height: auto;
	background-color:#0080A1;
	font-size: large;
	text-align: center;
	font-weight: 300;	
	
}

a:visited{
	color:#0080A1;
}

a:link{
	color:aliceblue;
}

main{
	background-color:#0080A1;
	height: auto;
	text-align:center;
}

section {
	background-color:#006774;
	width: auto;
	height: auto;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 30px;
	font-weight: 800
}
main section video {
    width: 50%;
    height: auto;
}


footer{
	background-color:#006774;
	width: auto;
	height: 50px;
	color:antiquewhite;
	text-align:center;
	padding-top:26px;
#img_1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
 
#img_2 {

}
 
#img_3 {

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
#img_fload {
    float: right;
    margin-left: 20px;
}
 
.brillo {
    filter:brightness(50%);
}
.contraste {
    filter:contrast(40%);
}
.desenfoque {
    filter:blur(2px);
}
 
.grises {
    filter:grayscale(100%)
}
.negativo {
    filter:invert(50%)
}
.opacidad {
    filter:opacity(0.5);
}
.saturacion {
    filter: saturate(60%)
}
.sepia {
    filter: sepia(80%);
}
.hev {
    filter: hue-rotate(60deg);
}
.opacida {
    filter: opacity(.25);
}
 

.bordeado {
    border-radius: 30px;
    border: 5px dotted  #FF0004
}
.borderedondeado {
    border-radius: 50%;
    border: 5px dotted  
}
.redondeomixto {
    border-radius: 150px 60px 200px 35px;
    border: thick solid #00DEF1
}
.redondeomixto2 {
    border-radius: 100px 80px 200px 300px;
    border: thick solid  #3A00FF;
}
.reflexion:hover {
    width: 20%;
    height: auto;
    display: block;
    margin-left: 50px;
    margin-right: auto;
    margin-top: 30px;
    transform: scale(0.5);
    margin-bottom: 88px;
}
.rotacion:hover {
    transform: rotate(40deg);
}
.skew:hover {
    transform: skewX(30deg);
}.estyle_one {
}
main section img {
    width: auto;
    height: 70 px;

}
